<div class="contacts">

    {% include svg/contacts.svg class='contacts__img-title' %}

    <div class="contacts__wrapper">
        <div class="contacts__container">

            <div class="contacts__text-wrap">

                <div class="contacts__info">
                    Vasileos Pavlou, 60,
                    <br>
                    Agios Dometios, 2360,
                    <br>
                    Nicosia,
                    <br>
                    Cyprus
                    <br>
                    <br>
                    <a href="mailto:info@codereamertl.com?subject=Hello">info@codereamertl.com</a>
                </div>
            </div>

            <div class="contacts__map-wrap">
                <div id="map" class="contacts__map"></div>
                <script src="https://maps.google.com/maps/api/js?key=AIzaSyAEdUg5SAOUVKPI6_l5vXcOj3GB_tKvrx4"></script>
            </div>

        </div>
    </div>

</div>
