// Body (Corioaln UI)
$bodyBg: #fff;
$bodyFont: 400 14px/1.35 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyColor: #000;

// Breakpoints (Corioaln UI)
$XS: 320px;
$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
