html {
    min-height: 100%;
}

body {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    // overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 .5em;
    font-weight: 400;
}

a {
    text-decoration: none;
}

