$f1: #fcfcfc;
$f2: #fafafa;
$f3: #f7f7f7;

.features {
    text-align: left;
    @include clearfix;

    &__item {
        position: relative;
        filter: drop-shadow(0 22px 34px rgba(#000,.12));

        @include media(M) {
            margin-top: -125px;
            @include clearfix;
            // visibility: hidden;
            min-height: 310px;
            box-sizing: border-box;
            float: right;
        }

        &:before {

            @include media(M) {
                content: '';
                position: absolute;
                top: 0;
                right: 100%;
                border: 155px solid #000;
                border-width: 155px 70px;
                border-top-color: transparent !important;
                border-left-color: transparent !important;
            }
        }

        &--advertising {
            background: $f1;
            margin-top: 0;
            z-index: 20;

            &:before {
                border-color: $f1;
            }

            @include media(M) {
                width: 50%;
            }
        }

        &--traffic {
            background: $f2;
            z-index: 19;

            &:before {
                border-color: $f2;
            }

            @include media(M) {
                width: 65%;
            }
        }

        &--development {
            background: $f3;
            z-index: 18;

            &:before {
                border-color: $f3;
            }

            @include media(M) {
                width: 80%;
            }
        }
    }

    &__wrap {
        padding: 40px;

        @include media(M) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
        }
    }

    &__title {
        font-size: 16px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 15px;
    }

    &__description {
        color: #999;
    }

    // .fadeInRight {
    //     visibility: visible;
    // }
}
