.footer {
    background: #f5f5f5;
    padding: 140px 12px 120px;

    &__logo {
        max-width: 76px;
        display: block;
        margin: 0 auto 80px;
    }

    &__copyright {
        margin-bottom: 4px;
    }

    &__year {
        font-size: 12px;
    }
}
