.footer {
    background: #f5f5f5;
    padding: 140px 12px 120px;

    &__logo {
        max-width: 76px;
        display: block;
        margin: 0 auto 80px;
    }

    &__copyright {
        margin-bottom: 4px;
    }

    &__year {
        font-size: 12px;
        margin-bottom: 30px;
    }

    &__powered {
        font-size: 10px;

        a {
            display: inline-block;
            color: #000;
        }

        svg {
            height: 28px;
            vertical-align: middle;
            transform: translate3d(0,-9%,0);
        }
    }
}
